fastapi
uvicorn
pandas
numpy
openpyxl
python-multipart
python-pptx
python-docx
pydantic
scipy
matplotlib
seaborn
python-jose[cryptography]
passlib[bcrypt]
razorpay
sqlalchemy
bcrypt
pydantic-settings
